.registration {
    margin: auto;
    margin-top: 5%;
    /*width: 30%;*/
    width: 280px;
    /*border: 2px solid white;*/
    padding: 10px;
    background-image: linear-gradient(aliceblue, deepskyblue);
    text-align: center;
    /*box-shadow: 15px 15px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.2);
}

body {
    background-image: linear-gradient(deepskyblue, white);
    background-repeat: no-repeat;
    height: 100%;
}

/*.submit{*/
/*    background-color: darkblue;*/
/*    width: 200px;*/
/*    height: 30px;*/
/*}*/
.error {
    color: red;
}